<div id="footer-wrapper">
  <footer id="footer" class="5grid">
    <div class="8u-first">

      <!-- Links -->
      <section>
        <h2>Links to Important Stuff</h2>
        <div class="3u-first">
          <ul class="link-list last-child">
            <li><a href="#">Neque amet dapibus</a></li>
            <li><a href="#">Sed mattis quis rutrum</a></li>
            <li><a href="#">Accumsan suspendisse</a></li>
            <li><a href="#">Eu varius vitae magna</a></li>
          </ul>
        </div>
        <div class="3u">
          <ul class="link-list last-child">
            <li><a href="#">Neque amet dapibus</a></li>
            <li><a href="#">Sed mattis quis rutrum</a></li>
            <li><a href="#">Accumsan suspendisse</a></li>
            <li><a href="#">Eu varius vitae magna</a></li>
          </ul>
        </div>
        <div class="3u">
          <ul class="link-list last-child">
            <li><a href="#">Neque amet dapibus</a></li>
            <li><a href="#">Sed mattis quis rutrum</a></li>
            <li><a href="#">Accumsan suspendisse</a></li>
            <li><a href="#">Eu varius vitae magna</a></li>
          </ul>
        </div>
        <div class="3u">
          <ul class="link-list last-child">
            <li><a href="#">Neque amet dapibus</a></li>
            <li><a href="#">Sed mattis quis rutrum</a></li>
            <li><a href="#">Accumsan suspendisse</a></li>
            <li><a href="#">Eu varius vitae magna</a></li>
          </ul>
        </div>
      </section>

    </div>
    <div class="4u">

      <!-- Blurb -->
      <section>
        <h2>An Informative Text Blurb</h2>
        <p>
          We have founded this company for Ruby on Rails developers.Here you can find the informative material and
          blogs on different Topics on Ruby on Rails.If you need any of our services then feel free to call us.
        </p>
      </section>

    </div>
  </footer>
</div>