<section>
  <header>
    <h2>Common Bar</h2>
  </header>
  <p>
    common side navigator bar.
  </p>
  <ul class="link-list">
    <li><a href="#">AboutUs</a></li>
    <li><a href="#">Goals</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Ideology</a></li>
  </ul>
</section>